<html>
<head>
    <link rel="stylesheet" href="./styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@27.2.0/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@27.2.0/styles/ag-theme-alpine.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand padding_left" style="padding-left: 10px;">ONIET 2023</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Pricing</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>

<div class="content" style="padding-left: 37%; align-items: center; padding-top: 15px">
    <h1>Trabajo Práctico - ONIET</h1>
    <p style="padding-left:6%;">Resolucion de la situación problemática</p>
</div>
<div>
    <div id="myGrid" class="ag-theme-alpine" style="width: 100%; height: 400px;"></div>
</div>


<footer class="text-center text-lg-start bg-white text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">


    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" style="padding-left: 25%;">
                        <i class="fas fa-gem me-3 text-secondary"></i>Hecho por:
                    </h6>
                    <p>
                        Trabajo realizado por estudiantes del colegio Instituto Tecnico Salesiano Villada
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="align-items: center;">

                    <h6 class="text-uppercase fw-bold mb-4" style="padding-left: 25%;">Contactanos</h6>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        santiagocarranzazinny@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        lorenzo.galaverna1@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        mateo.marchisone@gmail.com
                    </p>
                </div>
            </div>
    </section>
    <div class="text-center p-4" style="background-color:rgb(195, 195, 195);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>

<script>
    const apiUrl = 'http://localhost:8000/data';

    // Realiza la solicitud a la API utilizando fetch
    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error('Error en la solicitud a la API');
            }
            return response.json(); // Convierte la respuesta a JSON
        })
        .then(data => {
            // Aquí puedes transformar los datos en HTML
            const html = `<div>
      <p>${data.Empresa}</p>
      <p>${data.Producción_Total}</p>
      <p>${data.Cantidad_Piezas_Ok}</p>
      <p>${data.Cantidad_Piezas_Error}</p>
      <p>${data.p_Piezas_Ok}</p>
        <p>${data.p_Piezas_Error}</p>
    </div>`;
            console.log(data)

            // Agregar el HTML al documento
            document.body.innerHTML = html;
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>

<script src="https://unpkg.com/ag-grid-community@27.2.0/dist/ag-grid-community.min.js"></script>
</body>

</html>