<head>
    <link rel="stylesheet" href="./styles/index.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@27.2.0/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community@27.2.0/styles/ag-theme-alpine.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand padding_left"  style="padding-left: 10px;">ONIET 2023</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/santiago-carranza-1ba936142/" target="_blank">Carranza Santiago </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/lorenzo-galaverna-456b2621b/" target="_blank">Galaverna Lorenzo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/mateo-marchisone-8b5230197/" target="_blank">Marchisone Mateo</a>
              </li>
          </ul>
        </div>
      </nav>
</head>
<body>

    <div class="content" style="padding-left: 37%; align-items: center; padding-top: 15px">
        <h1>Trabajo Práctico - ONIET</h1>
        <p style="padding-left:6%;">Resolucion de la situación problemática</p>
    </div>
    <div style="padding-left: 22%;">
        <div id="myGrid" class="ag-theme-alpine" style="width: 70%; height: 400px;"></div>
    </div>
   

<footer class="text-center text-lg-start bg-white text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">


    </section>
     
    <div class="text-center p-4" style="background-color:rgb(195, 195, 195);">
      <a>Hecho por: Estudiantes del </a> 
      <a class="text-reset fw-bold" href="https://www.itsv.edu.ar/itsv/index.php" target="_blank">Instituto Tecnico Salesiano Villada</a>
    </div>
  </footer>
  <script>
    const filterParams = {
        comparator: (filterLocalDateAtMidnight, cellValue) => {
            var dateAsString = cellValue;
            if (dateAsString == null) return -1;
            var dateParts = dateAsString.split('/');
            var cellDate = new Date(
                Number(dateParts[2]),
                Number(dateParts[1]) - 1,
                Number(dateParts[0])
            );

            if (filterLocalDateAtMidnight.getTime() === cellDate.getTime()) {
                return 0;
            }

            if (cellDate < filterLocalDateAtMidnight) {
                return -1;
            }

            if (cellDate > filterLocalDateAtMidnight) {
                return 1;
            }
            return 0;
        },
    };

    const columnDefs = [
        { field: 'Empresa' },
        { field: 'Produccion total' },
        { field: 'Cantidad de piezas Ok'},
        { field: 'Cantidad de piezas Error' },
        { field: '%Piezas Ok', sort: 'desc' },
        { field: '%Piezas Error'},

    ];

    function dateComparator(date1, date2) {
        const date1Number = monthToComparableNumber(date1);
        const date2Number = monthToComparableNumber(date2);

        if (date1Number === null && date2Number === null) {
            return 0;
        }
        if (date1Number === null) {
            return -1;
        }
        if (date2Number === null) {
            return 1;
        }

        return date1Number - date2Number;
    }

    function monthToComparableNumber(date) {
        if (date === undefined || date === null || date.length !== 10) {
            return null;
        }

        const yearNumber = Number.parseInt(date.substring(6, 10));
        const monthNumber = Number.parseInt(date.substring(3, 5));
        const dayNumber = Number.parseInt(date.substring(0, 2));

        return yearNumber * 10000 + monthNumber * 100 + dayNumber;
    }

    const gridOptions = {
        columnDefs: columnDefs,
        defaultColDef: {
            width: 170,
            sortable: true,
            filter: 'agTextColumnFilter',
            menuTabs: ['filterMenuTab'],
        },
    };

    document.addEventListener('DOMContentLoaded', function () {
        const gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);

        fetch('https://www.ag-grid.com/example-assets/olympic-winners.json')
            .then((response) => response.json())
            .then((data) => gridOptions.api.setRowData(data));
    });
</script>

<script src="https://unpkg.com/ag-grid-community@27.2.0/dist/ag-grid-community.min.js"></script>
</body>

 